global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "server"
    metrics_path: /metrics
    static_configs:
      - targets: ["server:8000"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
